# Python for Data Science Teaching Session 1: Data Manipulation

## Introduction

### Course Prerequisites

It is advised that course participants have completed WDSS's [Beginner's Python](http://education.wdss.io/beginner-python) course or equivalent including going through most of the additional notes on Pythonic programming. You should be able to get by if this is not the case, but you may want to brush up on the following notes:

- [Lists](https://education.wdss.io/beginners-python/session-four/) and [dictionaries](https://education.wdss.io/beginners-python/session-six/)
- [List comprehension](https://colab.research.google.com/github/warwickdatasciencesociety/beginners-python/blob/master/session-four/session_four_additional_content.ipynb) and [dictionary comprehension](https://colab.research.google.com/github/warwickdatasciencesociety/beginners-python/blob/master/session-four/session_six_additional_content.ipynb)
- [Truthiness and if-expressions](https://colab.research.google.com/github/warwickdatasciencesociety/beginners-python/blob/master/session-three/session_three_additional_content.ipynb)
- [String methods](https://colab.research.google.com/github/warwickdatasciencesociety/beginners-python/blob/master/session-three/session_two_additional_content.ipynb)
- [Importing modules and packages](https://education.wdss.io/beginners-python/session-eight/)

### Session Objectives

- Reading/writing data from/to files
- Exploring the structure and contents of a dataset
- Subsetting and filtering
- Mutating and summarising datasets

### Recommendations and Advice

Checkout [PEP8](https://www.python.org/dev/peps/pep-0008/) and use a [linter](https://jupyterlab-code-formatter.readthedocs.io/en/latest/index.html) if needed.

Google, Google, Google. Use [Stack Overflow](https://stackoverflow.com/) and the [pandas reference](https://pandas.pydata.org/pandas-docs/stable/reference/index.html) to find the answer you're after.

A warning: data-scientific Python is the wild-west. There are often many ways to achieve the same thing. Although this provides flexibility, it can cause confusion when learning. Don't be put off if it's not clear when and why to use a certain method over another. There might not even be a reason at all more than personal preference.

## Getting Started with pandas

### What is pandas?

Let's ask the team:

> pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

In short, pandas allows you to:
- Read/write data using a wide variety of formats
- Manipulate and transform data
- Combine data sources together (session 4)
- Perform basic analysis and visualisation

It is part of the [SciPy stack](https://www.scipy.org/stackspec.html), a collection of Python packages for scientific programming (closely related to data science).

Once installed (see [bonus session one](https://education.wdss.io/python-for-data-science/bonus-one)), you can import (using its usual alias of `pd`).

In [1]:
# Import pandas
import pandas as pd

### Importing CSVs

In this session, we'll be looking at the [wine quality](https://archive.ics.uci.edu/ml/datasets/wine+quality) dataset from the [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). You can download this directly from the site (we'll only be using the data for red wine), or find it on this session's [materials](https://education.wdss.io/python-for-data-science/session-one) on the course website.

CSV stands for comma-separated value, and are plain text files used to store tabular data, one observation per line, and with values separated by commas. E.g.

```
"Numeric Column", "Boolean Column", "Text Column"
4, True, "Cat"
7, False, "Dog"
6, True, "Elephant"
```

CSV files can also be separated by semi-colons. This is common in Europe where are comma is used instead of a decimal separator.

We read CSV files using the `read_csv` function from pandas. When the separating character is not a comma, we have to specify it using the `sep` parameter.

In [3]:
wine = pd.read_csv('winequality-red.csv', sep=';')

The `read_csv` function has a ridiculous number of possible parameters. Read the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) to learn more.

### Viewing a Dataframe's Structure

We can view the whole dataframe by typing it in a code cell.

In [4]:
# Print entire dataframe
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

There are various attributes of a pandas dataframe.

In [11]:
# Dimensions
wine.shape

(1599, 12)

In [14]:
# Number of columns
wine.shape[1]

12

In [15]:
# Column names
wine.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

We're not going to worry about what an `Index` is in this course. It often works the same as a list but can be converted if needed.

In [18]:
# Column names as list
wine.columns.values.tolist()

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality']

In fact, there are many ways to do this (search [Stack Overflow](https://stackoverflow.com/questions/19482970/get-list-from-pandas-dataframe-column-headers) to find out) as there is with many tasks involving the SciPy stack, but this is the most performant.

In [28]:
# Row names (indexes)
wine.index

RangeIndex(start=0, stop=1599, step=1)

In [31]:
# Column types
wine.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

### Exploring Dataframe Contents

We can obtain simple or more substantial summaries of the dataframe using a variety of methods.

In [32]:
# Top 5 rows
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [35]:
# Bottom 3 rows
wine.tail(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [36]:
# Random sample of 4 rows
wine.sample(4)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
436,8.0,0.670,0.30,2.0,0.060,38.0,62.0,0.99580,3.26,0.56,10.2,6
921,8.4,0.360,0.32,2.2,0.081,32.0,79.0,0.99640,3.30,0.72,11.0,6
877,7.7,0.715,0.01,2.1,0.064,31.0,43.0,0.99371,3.41,0.57,11.8,6
1406,8.2,0.240,0.34,5.1,0.062,8.0,22.0,0.99740,3.22,0.94,10.9,6

As with `read_csv`, the `sample` method has many optional arguments for replacement, weights, and random state. We will only ever go through the most critical parameters in this course, so it is your job to read the documentation when you want to go further.

In [41]:
# First 2 rows of random sample of 3 columns
wine.sample(3, axis=1).head(2)

   chlorides  sulphates  density
0      0.076       0.56   0.9978
1      0.098       0.68   0.9968

In [45]:
# Numerical summaries of columns
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

## Subsetting and Filtering

Also see `.info()` and `.count()` for similar functionality.

### Subsetting Rows and Columns

Pandas has two main methods of subsetting a dataframe:

- `.loc`: label-based
- `.iloc`: integer-based (using zero-based indexing)

These both accept single values, lists/arrays and slices (and a few more—[read the docs](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)!)

For data frames we follow `.loc` and `.iloc` with a pair of square brackets, containing either one or two inputs. If one input is used, this subsets the rows. If two are used, they subset the rows and columns respectively.

A colon (`:`) can be used to include all rows in that dimension.

In [50]:
# 10th row of the dataset
wine.iloc[9]

fixed acidity             7.5000
volatile acidity          0.5000
citric acid               0.3600
residual sugar            6.1000
chlorides                 0.0710
free sulfur dioxide      17.0000
total sulfur dioxide    102.0000
density                   0.9978
pH                        3.3500
sulphates                 0.8000
alcohol                  10.5000
quality                   5.0000
Name: 9, dtype: float64

In [57]:
# 2nd to last column
wine.iloc[:, -2]

0        9.4
1        9.8
2        9.8
3        9.8
4        9.4
        ...
1594    10.5
1595    11.2
1596    11.0
1597    10.2
1598    11.0
Name: alcohol, Length: 1599, dtype: float64

In [58]:
# 4th row, 7th column
wine.iloc[3, 6]

60.0

In [62]:
# Column means
wine.describe().loc['mean']

fixed acidity            8.319637
volatile acidity         0.527821
citric acid              0.270976
residual sugar           2.538806
chlorides                0.087467
free sulfur dioxide     15.874922
total sulfur dioxide    46.467792
density                  0.996747
pH                       3.311113
sulphates                0.658149
alcohol                 10.422983
quality                  5.636023
Name: mean, dtype: float64

In [70]:
# Acidity markers for every 10th row
wine.iloc[::10].loc[:, ['fixed acidity', 'volatile acidity', 'citric acid', 'pH']]

<class 'pandas.core.frame.DataFrame'>

Notice that when using a list to subset columns we obtain a dataframe in return. This holds even if the list has one element.

In [79]:
# 4th row as dataframe
wine.iloc[[3]]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.998,3.16,0.58,9.8,6

In [80]:
# (4, 2) element as dataframe
wine.iloc[[3], [1]]

   volatile acidity
3              0.28

Be careful, unlike with integer slices, labels slices include the final value

In [83]:
#wine.loc[:, 'density':'quality']
wine.iloc[:, 0:2]

      fixed acidity  volatile acidity
0               7.4             0.700
1               7.8             0.880
2               7.8             0.760
3              11.2             0.280
4               7.4             0.700
...             ...               ...
1594            6.2             0.600
1595            5.9             0.550
1596            6.3             0.510
1597            5.9             0.645
1598            6.0             0.310

[1599 rows x 2 columns]

We can also use these methods for setting values.

In [87]:
df = pd.DataFrame({
    'x': [1, 2, 3],
    'y': [4, 5, 6],
})

   x  y  z
0  1  4  7
1  2  5  8
2  3  6  9

In [90]:
# Change 1 to -1
df.iloc[0, 0] = -1

   x  y  z
0 -1  4  7
1  2  5  8
2  3  6  9

In [91]:
# Double second row
df.iloc[1,:] *= 2
df

   x   y   z
0 -1   4   7
1  4  10  16
2  3   6   9

We can also extract columns using regular square brackets (just like a list or dictionary) using label-based indexing.

In [94]:
# pH column
wine['pH']

0       3.51
1       3.20
2       3.26
3       3.16
4       3.51
        ...
1594    3.45
1595    3.52
1596    3.42
1597    3.57
1598    3.39
Name: pH, Length: 1599, dtype: float64

### Series

Unless we force a dataframe to be return using one-element lists, pandas will return either a single value, a series or a new dataframe depending on whether our result is 0, 1, or 2-dimensional.

In [95]:
type(wine['pH'])

pandas.core.series.Series

A series is a one-dimensional array with axis labels. We can use `.loc` and `iloc` on series but only need to specify a single input. We can also use standard square brackets using either labels or integers.

It is important to note that subsetting in pandas copies by reference, not by value (unless you use the `.copy()` method).

In [98]:
df = pd.DataFrame({
    'x': [1, 2, 3],
    'y': [4, 5, 6]
})

x = df['x']
y = df['y'].copy()

x[1] = 0
y[1] = 0

x[2] = 12
y[2] = 12

df

    x  y
0   1  4
1   0  5
2  12  6

> See also: `.at` and `.iat` in [the docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html)

### Filtering

`loc`, `iloc` and `[]` can also accept Boolean vectors, returning only rows/columns that correspond to a true value

In [111]:
# Select rows with ph greater than 2.9
wine.loc[wine['pH'] > 2.9]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [117]:
# Select only decimal columns
wine.loc[:, wine.dtypes == 'float64']

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

A useful helper is the `isin()` series method.

In [ ]:
# Select wines of quality 3, 5, 6
wine.isin

You can combine Boolean vectors using Boolean operators. The notation we use in pandas is different to in base Python however:
- Use `&` for `and`
- Use `|` for `or`
- Use `~` for `not`

We could use this to drop columns with certain names (I'll leave this as a puzzle), but there is a better way using the `.drop` method.

In [ ]:
wine.drop(['citric acid', 'residual sugar'], axis=1)

## Data Manipulation

### Sorting

We can sort a pandas dataframe using the `sort_values` method. This sorts either columns or rows depending on the specified axis. If a single label is provided the dataframe is sorted using that row/column. If a list is provided, the latter labels are used to break ties.

In [ ]:
# Sort first by quality then by alcohol

In [ ]:
# Sort by descending density

> See the `key` parameter in [the docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html) for more flexible sorts

> Most of the methods we've used come with an `inplace` parameter, which when set to `True` will perform the operation directly on the data rather than returning a modified data frame. This is useful is some cases but prevents you from chaining together methods.

### Creating and Overwriting Columns

We can create new columns using square brackets, providing a column name that doesn't already exist. If the column does exist, it's value will be overwritten.

Operations are _vectorised_ meaning they act on an element-by-element basis.

In [ ]:
# Calculate non-free sulfur dioxide

In [ ]:
# Replace density with grams/litre

If a single value is used, it will fill the entire column.

In [ ]:
# Add column of zeros

### Creating Summarises

Pandas allows you to create summaries of rows, columns or series. Some common methods for this are `mean`, `min`, `max`, `median`, `mode`, `std`, `var`, `sum`. These are more useful when we have grouped data, which we will introduce in the project session.

In [ ]:
# Average of all columns

In [ ]:
# Maximum value of each row

In [ ]:
# Standard deviation of pH

Pandas also offers two useful Boolean reduction functions, `all` and `any`, return `True` if all or any of the values in the series they are applied to is `True`, respectively. They can also be applied to dataframes, in which case they act on each column independently.

In [ ]:
# Are any pH values less than 3?

In [ ]:
# Are are values in the dataset non-negative?

Recalling back to Beginner's Python, we saw that `True`/`False` convert to 1/0 when cast as integers. We can use this to count and obtain proportions of true values.

In [ ]:
# How many 5-quality wines are there?

In [ ]:
# What proportion of wines are 5-quality?

## Wrapping Up

### Writing to CSVs

We can write a dataframe to a CSV using the `to_csv` method, passing in a file path. There are many parameters found in the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html), but the most commonly used is `index=False` to avoid saving row numbers (which can make it harder for other programs to read).

In [ ]:
wine.sample(5).to_csv('wine_sample.csv', index=False)

Note, this will overwrite any existing file without warning.

### Other IO tools

Pandas is capable of reading from and writing to a large number of of file types. A list a corresponding documentation can be found [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html).